simu/flows.json
[{"type":"tab","id":"126b01c8.ed94fe","label":"LoRaMote"},{"type":"tab","id":"b0b64870.4f49b8","label":"Flow 1"},{"id":"97cdd5cb.683228","type":"pubnub-keys","z":"126b01c8.ed94fe","pub_key":"pub-c-eae40235-4d3a-48b1-8ac3-325dac057f26","sub_key":"sub-c-9866ce9a-ca86-11e5-a9aa-02ee2ddab7fe"},{"id":"4d6f16f2.b290e8","type":"inject","z":"126b01c8.ed94fe","name":"LoRaDevice #1","topic":"6666666666","payload":"0026e8086602732a3d9ce6ffc6cf00e2","payloadType":"str","repeat":"4","crontab":"","once":false,"x":198,"y":186,"wires":[["5def6738.a21098"]]},{"id":"6a49e29d.95b61c","type":"debug","z":"126b01c8.ed94fe","name":"Frames Out","active":true,"console":"true","complete":"true","x":848,"y":340,"wires":[]},{"id":"5def6738.a21098","type":"function","z":"126b01c8.ed94fe","name":"formatOutputFrame","func":"var EUI = msg.topic;\nvar fcnt = context.get('frameCounter')||0;\nvar payload = msg.payload\nfcnt += 1;\ncontext.set('frameCounter', fcnt );\n\nframe = {};\nframe.data = payload;\nframe.EUI = EUI;\nframe.fcnt = fcnt;\nmsg.payload = frame;\n\nreturn msg;","outputs":"1","noerr":0,"x":441,"y":260,"wires":[["8bda6614.742598"]]},{"id":"35b3b38f.ca4c4c","type":"pubnub out","z":"126b01c8.ed94fe","keys":"97cdd5cb.683228","channel":"upstream","x":846,"y":201,"wires":[]},{"id":"8bda6614.742598","type":"json","z":"126b01c8.ed94fe","name":"To JSON","x":669,"y":259,"wires":[["6a49e29d.95b61c","35b3b38f.ca4c4c"]]},{"id":"d7a2e3be.285d2","type":"inject","z":"126b01c8.ed94fe","name":"LoRaDevice #2","topic":"777777777","payload":"0026e8086602732a3d9cc6ffc6df00e2","payloadType":"str","repeat":"3","crontab":"","once":false,"x":197,"y":267,"wires":[["5def6738.a21098"]]},{"id":"d4cb142e.2b34e8","type":"inject","z":"126b01c8.ed94fe","name":"LoRaDevice #2","topic":"8888888","payload":"0026e8086602732a3d9cd6ffc6ff00e2","payloadType":"str","repeat":"3","crontab":"","once":false,"x":197,"y":346,"wires":[["5def6738.a21098"]]}]